<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Survey Form</h1>
        <form action="/surveys/process" method="post">
            {% csrf_token %}
            Your name: <input type="text" name="name">
            <br>
            Dojo Location: 
            <select name="location">
                <option value="Seattle">Seattle</option>
                <option value="Boston">Boston</option>
                <option value="Chicago">Chicago</option>
                <option value="San Jose">San Jose</option>
            </select>
            <br>
            Favorite Language: 
            <select name="language">
                <option value="Python">Python</option>
                <option value="English">English</option>
                <option value="German">German</option>
                <option value="French">French</option>
            </select>
            <br>
            Comment(optional):
            <br>
            <textarea name="comment" rows="10" cols="10"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>